.navbar {
  background: rgb(255, 255, 255);
  opacity: 0.9;
  stroke: rgba(112, 112, 112, 1);
  stroke-width: 1px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
  height: 100px;
}
.navbar_text {
  white-space: nowrap;
  transition: all 0.3s ease-out;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  color: #0dcaf0;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
}
.navbar_text::after {
  content: "HOSTEL MANAGEMENT SYSTEM"
}
.navbar_buttons {
  white-space: nowrap;
  --web-animation: fadein 0.3s ease-out;
  --web-action-type: page;
  cursor: pointer;
  text-align: center;
  font-family: Google Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: rgba(219, 200, 200, 1);
}

@media screen and (max-width: 720px) {
  .navbar_text::after {
    content: "HMS"
  }
}

